@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Times New Roman", Times, serif;
  width: 100%;
  min-height: 100vh;

  --text: #1e1e2c;
  --text-minor: #3c3c3b;
  --bg: #f8f8f8;
  --btn: #0ce9b2;
  --bg-minor: #ffffff;

  color: var(--text);
  background: var(--bg-minor);
}

body.dark {
  --text: #fffdf7;
  --text-minor: #d8d5db;
  --btn: #4e67eb;
  --bg: #1e1e2c;
  --bg-minor: #2d2d44;
}
