@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Times New Roman", Times, serif;
  width: 100%;
  min-height: 100vh;
  color: var(--text);
  background: var(--bg-minor);

  --text: #1e1e2c;
  --text-minor: #3c3c3b;
  --border-half-opacity: rgba(156, 156, 156, 0.5);
  --bg: #f8f8f8;
  --link: #016fff;
  --btn: #0ce9b2;
  --bg-minor: #ffffff;
}

body.dark {
  --text: #fffdf7;
  --text-minor: #d8d5db;
  --border-half-opacity: rgba(167, 167, 167, 0.5);
  --btn: #4e67eb;
  --link: #8094f8;
  --bg: #1e1e2c;
  --bg-minor: #2d2d44;
}
